.scroll_news
{
    height: 30px;
    width: 100%;
    border:#e3e3e3 1px solid;
    box-shadow: #979595 2px 2px 2px 2px;
}

.scroll_news span
{
    float: left;
    height: 30px;
    line-height: 30px;
    color: #979595;
    font-size: 16px;
    padding-left: 10px;
    margin-right: -70px;
}

.scroll_con
{
    height: 30px;
    line-height: 20px;
    font-size: 9px;
    padding-left: 10px;
    float: left;
    margin-left: 70px;
}

.scroll_con a
{
    color: #000000;
}

.scroll_con a:hover
{
    color: #000000;
}